---
layout: index
title: Home
permalink: /
---

<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <img src="http://recodetech.files.wordpress.com/2014/03/github_logo.png" alt="Obrazek not foun" width="128" height="128" />
                <h4>Github page</h4>
                <p>My github main page with some university work and projects scrambled for fun.</p>
                <p><br/><a href="https://github.com/okoniewskid" class="btn btn-theme">Github</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-flask"></i>
                <h4>Retina Ready</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-trophy"></i>
                <h4>Quality Theme</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>		 				
        </div>
    </div><! --/container -->
</div><! --/service -->

{% include portfolio.html title="LATEST WORKS" limit=10 %}

<div class="container mtb">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <h4>More About Our Agency.</h4>
            <p>{{ site.about }}</p>
            <p><br/><a href="{{ "/about/" | prepend: site.baseurl }}" class="btn btn-theme">More Info</a></p>
        </div>

        <div class="col-lg-3">
            <h4>Frequently Asked</h4>
            <div class="hline"></div>
            {% for post in site.categories['question'] %} 
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
            {% endfor %}
        </div>

        <div class="col-lg-3">
            <h4>Najnowsze posty</h4>
            <div class="hline"></div>
            {% for post in site.categories['blog'] limit:5 %} 
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
            {% endfor %} 
        </div>

    </div><! --/row -->
</div><! --/container -->